* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: red;
}


main {
    padding: 1.5rem;
}


.container {
    width: 1200px;
    margin: auto;


}

.row {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */

}

.col {
    width: calc((100% / 12) * 4);
    display: flex;
    justify-content: center;
    padding-bottom: 5rem;
}

.card{
    width: 350px;
    position: relative;
    height: 450px;

    .card-img{
        position: absolute;
        z-index: 1;
        
    }

    .card-body{
        position: absolute;
    }
}

.card:hover .card-img{
    display: none;
}



& ul {
    list-style: none;
}